.App {
  text-align: center;
}
.app-style{
  min-width:1000px;
  overflow-x: auto;  
  height: 100vh;
}
table {
  margin: auto;
  width: 80% !important;
}
th {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  border-right: none !important;
  border-left: none !important;
  position: sticky;
  top: 0;
  z-index: 10;
  border:0px;
  top: -1px;
}

.create-btn {
  border-radius: 28px;
  height: 40px;
  width: 130px;
  text-align: center;
  background: #0058A3;
  margin: auto;
  margin-top: 20px;
  margin-left: auto;
  justify-content: flex-start;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  cursor: pointer;
  
}

.create-btn-icon{
  float: left;;
  margin: auto;
  margin-left: 20px;
  margin-right: -10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  border-radius: 28px !important;
  height: 40px;
  width: 100px;
  text-align: center;
  background: #0058A3 !important;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  color: #FFFFFF;
  font-size: 12px !important;
  font-weight: bold !important;
  padding-top: 10px !important;
  cursor: pointer;
}


.save-btn-div {
  width: 130px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
  color: #FFFFFF;
}

.userHeader-text{
  width: 90%;
  height: 52px;
  left: 0%;
  right: 0%;
  margin-top: 25px;
  margin-left: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 28px;
  color: #000000;
  
}